.section1 {
    background-image: url("../img/home.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    .section1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        height: 100vh;
        .container-personal-info {
            font-family: Roboto;
            font-size: 30px;
            font-weight: 500;
            color: #e5e5e5;
            font-size: 2.26rem;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .animation {
                height:50px;
                overflow:hidden;
                margin-left: 1rem;
                margin-top: 4px;
            }
            .animation > div > div {
                padding: 0.25rem 0.75rem;
                height: 2.81rem;
                margin-bottom: 2.81rem;
                display:inline-block;
            }
            .animation .second-animation, .animation .third-animation {
                margin-top: 5px;
            }
            .animation div:first-child {
                animation: text-animation 8s infinite;
            }
            .first-animation div {
                background-color:#00abf0;
            }
            .second-animation div {
                background-color:#CD921E;
            }
            .third-animation div {
                background-color:#c10528;
            }
        }
        .personal-info {
            font-family: Roboto;
            font-size: 30px;
            font-weight: 500;
            color:#00abf0;
            max-width: 575px;
            width: 100%;
        }
        .personal-info:first-child {
            color: #00abf0;
        }
        .detail-info {
            margin-top: 20px;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 300;
            max-width: 600px;
            width: 100%;
            color:#c6c7ca;
        }
        .group-btn {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            gap: 40px;
            a {
                padding: 15px 30px;
                font-family: Roboto;
                font-weight: 300;
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #00abf0;
                border-radius: 8px;
                font-size: 19px;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 1px;
                z-index: 1;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
            .contact-me-btn {
                background: #00abf0;
                color: #081b29;
            }
            .download-cv-btn {
                background: transparent;
                color: #00abf0;
            }
            a:hover {
                background: #081b29;
                color: #ffffff;
                border-color: #081b29;
                transform: translateY(-5px);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
            }
        }
        
        .contact-function {
            display: flex;
            flex-direction: row;
            gap: 20px;
            position: absolute;
            bottom: 80px;
            a {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background: transparent;
                border: 2px solid #00abf0;
                border-radius: 50%;
                font-size: 20px;
                color: #00abf0;
                text-decoration: none;
                z-index: 1;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
            a:hover {
                background: #00abf0;
                color: #ffffff;
                border-color: #00abf0;
                transform: translateY(-5px);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
            }
        }  
    }
}
@media screen and (min-width: 250px) and (max-width: 700px){
    .section1 {
        .section1-container {
            margin: 5%!important;
            .column-info-1 {                
                display: flex;
                flex-direction: column;
                align-items: center!important;
                .container-personal-info {
                    flex-direction: column;
                    align-items: center;
                    p {
                        text-align: center;
                    }
                    .animation {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
                .personal-info {
                    text-align: center;
                }
                .detail-info {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .section1 {
        .animation {
            height:40px!important;
            margin-left: 0.7rem!important;
            margin-top: 3px!important;
        }
        .animation > div > div {
            padding: 0.17rem 0.52rem!important;
            height: 40px!important;
            margin-bottom: 37px!important;
        }
        .position-animation {
            font-size: 25px;
        }
        .group-btn {
            flex-direction: column!important;
        }
    }
}

@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }